@inherits LayoutComponentBase

<PageTitle>Wordle</PageTitle>

<div class="page ">
    <div class="sidebar" style="background-image: linear-gradient(180deg, rgb(5, 103, 85) 0%, #062547 70%);">
        <NavMenu />
    </div>

    <main>      

        <article class="content px-4 mt-5">
            @Body
        </article>
    </main>
</div>
