html {
    font-size: 14px;
   
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
      
    }
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    background-color: #121213;
    color: white;
}
nav {
    background-color: #121213;
    color: white;
}

.ctn-grid-word {
    width: 400px;
   margin:auto;
   padding-bottom:2rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.rows-grid-word {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;

}
.animation-card {
    border: solid 1px white;
    padding: 1rem;
    
}
.letter-card {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
  
   

}





/*TECLADO*/

.keyboard {
    height: 50%;
    margin-bottom:2.5rem;
    margin: 0 8px;
  
    width:80%;
    margin:auto;
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    width:100%;
}
.keyboard-row-mid {
    margin-left: 1.5rem
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer; 
    color:white;
    background-color: #343a40;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}

.contain-letter {
    background-color: #b59f3b;
}